body{
    background-color: gainsboro;
}
.modal-body{
    background-color: white;
    margin: 30px 40px;
}
.btn-success{
    float: right;
    margin-bottom: 30px;
}
.media-object{
    width: 40px;
    height: 40px;
}
.jumbotron{
    margin: 50px;
    background-color:gainsboro;
}